<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryanddawkins.prephelper" >

    <application
        android:name=".PrepHelperApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".ui.signup.SignUpActivity"
            android:label="@string/signup_heading">
        </activity>
        <activity android:name=".ui.preps.PrepsActivity"
            android:label="@string/preps_heading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.items.ItemsActivity"
            android:label="@string/items_heading"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5821b308d11f4ace82358e89355bbb98576f5891" />

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="rWDN2U5PnYxNyULonHQUpMMLHPHtjsyOLAC35Bzw" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="e4RNbOdmK08plW0hWx3uwK0k7e0lNCSMIip1emIt" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- USE_CREDENTIALS is necessary for Google+ login -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
</manifest>
